/* jezenthomas.com
 *
 * The design of this blog isn't inspired by any one thing in particular, save
 * for a few constraints like wanting to see 80 columns of pre-formatted text
 * without horizontally scrolling for code snippets. That said, I drew some
 * inspiration from the following sites:
 *
 * - stevelosh.com
 * - nytimes.com
 * - sudophilosophical.com
 * - mechanical-elephant.com
 * - v1.jontangerine.com/about/
 * - stackingthebricks.com
 */

/* Scaffold ------------------------------------------------------------- {{{ */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #3c3c3c;
  font-family: 'Georgia', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 750px;
  padding: 0 20px;
}

@media (min-width: 800px) {
  .container {
    padding: 0 70px;
  }
}

#main {
  overflow: hidden;
}

img {
  border: 8px solid #fff;
  max-width: 100%;
}

.hide {
  display: none;
}

/* }}} */
/* Typography ----------------------------------------------------------- {{{ */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 2.5em 0 1em;
  font-weight: bold;
}

h2 {
  color: #444;
  font-size: 2.4rem;
  margin: 3em 0 1em;
}

.post-date {
  color: #777;
  font-style: italic;
  margin: 1em 0 2em;
}

.post-tags {
  font-variant: small-caps;
  margin: 0;
}

a {
  color: #3c3c3c;
  border-bottom: 1px dotted #888;
  text-decoration: none;
}

.sourceCode a,
.sourceCode a:hover {
  border: none;
  color: inherit;
}

a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 1em 0 1.5em;
}

pre {
  background: #fbfbfb;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  overflow-x: auto;
  padding: 0 0 1em;
  -webkit-overflow-scrolling: touch;
}

pre > code {
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0 1.5rem;
}

code {
  background: #f5f5f5;
}

.sourceCode {
  margin: 2em 0;
}

.run-in {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.run-in .drop {
  float: left;
  font-size: 4rem;
  line-height: 3rem;
  padding-right: 4px;
}

sup {
  font-size: .7em;
}

ul {
  margin: 1em 0 1.5em 40px;
}

li {
  line-height: 1.6em;
  margin: .4em 0;
}

blockquote {
  padding: 0 1em;
  border-left: 4px solid #fa0;
  font-style: italic;
}

.page {
  min-height: 200px;
}

.page h1 {
  border-bottom: 1px solid #dadada;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1em 0;
  padding: 10px 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* }}} */
/* Index ---------------------------------------------------------------- {{{ */

@media (min-width: 800px) {
  .index p {
    text-align: justify;
  }
}

.site-title {
  color: #444;
  font-family: 'Mogra', cursive;
  font-size: 4.4rem;
  font-weight: bold;
  margin: 2em 0;
  text-align: center;
  text-transform: uppercase;
}

.about img {
  border: 1px solid #000;
  float: left;
  margin: 8px 20px 20px 0;
  max-width: 100px;
}

@media (min-width: 480px) {
  .about img {
    max-width: 160px;
  }
}

.about p {
  text-align: left;
}
/* }}} */
/* Article -------------------------------------------------------------- {{{ */

article {
  margin-top: 3em;
}

article h2 {
  font-size: 1.25em;
}

article p,
article li {
  font-size: 17px;
}

article h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0 0 1em;
  text-align: center;
  margin: 0;
}

@media (min-width: 800px) {
  article h1 {
    font-size: 3.5em;
    padding: 0 1em 1em;
  }
}

ol {
  font-size: 1rem;
  list-style: lower-roman;
  padding: 0 0 0 20px;
}

#toc + ol {
  list-style-type: upper-roman !important;
}

#toc + ol ol {
  list-style-type: lower-roman !important;
}

/* }}} */
/* Speaking ------------------------------------------------------------- {{{ */

#speaking .talk {
  margin-bottom: 5em;
  padding-bottom: 2em;
  position: relative;
}

.talk::before {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  bottom: 0;
  content: '';
  display: block;
  height: 8px;
  left: 50%;
  outline: 4px solid #fff;
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 8px;
  z-index: 200;
}

.talk::after {
  border-top: 1px solid #ddd;
  bottom: 0;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50%;
  z-index: 100;
}

#speaking h2 {
  margin-bottom: 1em;
}

#speaking img {
  border: 1px solid #bbb;
}

@media (min-width: 480px) {
  #speaking img {
    float: left;
    margin-right: 1em;
    width: 33%;
  }
}

#speaking a {
  border: none;
}

#speaking a img:hover {
  border-color: #333;
}

#speaking h3 {
  font-size: 1.25em;
  margin: 1em 0 0;
}

#speaking h4 {
  color: #777;
  font-size: 1.1em;
  margin: 0;
  font-weight: normal;
}

#speaking .publication-name {
  color: #333;
  font-family: 'Georgia', serif;
  font-style: italic;
}

#speaking h5 {
  line-height: 1em;
  color: #777;
  font-family: 'Georgia', serif;
  font-weight: normal;
  margin: .2em 0;
  font-size: 1.1em;
}

#speaking p:last-child {
  margin-bottom: 0;
  text-align: right;
}

#speaking p a {
  border-bottom: 2px solid #ddd;
  color: #333;
  font-family: 'Helvetica-Neue', sans-serif;
  font-weight: bold;
  padding: 2px;
  text-decoration: none;
}

#speaking p a:hover {
  border: none;
  background: #333;
  color: #fff;
}

/* }}} */
/* Footer --------------------------------------------------------------- {{{ */

footer {
  background: #f4f4f4;
  border-top: 1px solid #ddd;
  margin-top: 3em;
  padding: 2em 0 4em;
}

footer .row {
  padding-top: 1em;
}

footer h6 {
  color: #adadad;
  font-size: .8em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  margin: 0 0 1em;
}

footer li {
  margin: 0;
}

footer ul a {
  text-decoration: none;
  border: none
}

footer .license p {
  font-family: 'Helvetica-Neue', sans-serif;
  font-size: .8em;
}

footer .license a {
  border: none
}

/* }}} */
