/* Scaffold ------------------------------------------------------------- {{{ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  font-size: 15px;
}

#main {
  overflow: hidden;
}

@media (min-width: 920px) {
  #main {
    margin-left: 300px;
  }
}

img {
  max-width: 100%;
}

.post-index {
  padding: 40px 20px 40px 60px;
}

.post-index h2 {
  font-size: 1.6rem;
  margin-top: 0;
}

.posts {
  list-style: none;
  margin: 1em 0 1.5em;
}

.posts .post {
  margin-bottom: 3.5em;
}

.post-title {
  color: #000;
  font-size: 20px;
  letter-spacing: normal;
  margin: 0;
}

.post-title a {
  border: none;
}

.posts .post-title {
  border: none;
  font-weight: bold;
}

.posts .post-date {
  margin-bottom: 4px;
}

.posts .post-excerpt {
  color: #000;
  font-size: 14px;
  margin: 8px 0 10px;
  max-width: 600px;
}
/* }}} */
/* Typography ----------------------------------------------------------- {{{ */
body {
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

hr {
  border-style: double;
  border-width: 3px 0 0;
  border-color: #ddd;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2.5em 0 1em;
  font-weight: bold;
}

h2 {
  color: #000;
  font-size: 2.4rem;
  margin: 3em 0 1em;
}

h3 {
  font-size: 1rem;
}

.post-meta {
  font-size: 14px;
}

.post-meta p {
  margin: 0;
}

.post-date {
  margin: 10px 0 1em;
}

.post-tags {
  font-variant: small-caps;
  margin: 0;
}

a,
a:visited {
  color: inherit;
  cursor: pointer;
  border-bottom: 1px dotted #888;
  text-decoration: none;
}

abbrev {
  color: #3c3c3c;
  cursor: help;
  border-bottom: 1px dotted #888;
}

.sourceCode a,
.sourceCode a:hover {
  border: none;
  color: inherit;
  cursor: default;
}

a:hover {
  color: #ff7315;
}

p {
  margin: 2em 0;
}

pre {
  background: #fbfbfb;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e1e1e1;
  margin: 0 -20px;
  font-size: 12px;
  line-height: 16px;
  overflow-x: auto;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 920px) {
  pre {
    border-width: 1px 0 1px 1px;
    margin: 0;
  }
}

pre > code {
  background: transparent;
  border: none;
  font-size: 13px;
  line-height: 18px;
}

code {
  background: #f5f5f5;
}

.sourceCode {
  font-size: 13px;
  margin: 3em -20px;
}

@media (min-width: 920px) {
  .sourceCode {
    margin: 3em 0;
  }
}

.sourceCode .sourceCode {
  margin: 0;
}

sup {
  font-size: .7em;
}

ul {
  list-style: square;
  margin: 2em 0 3em 30px;
}

li {
  line-height: 22px;
  margin: .5em 0;
}

blockquote {
  padding: 0 1em;
  border-left: 4px solid #fa0;
  font-style: italic;
}

blockquote p em {
  font-weight: bold;
}

.page {
  min-height: 200px;
}

.page h1 {
  border-bottom: 1px solid #dadada;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1em 0;
  padding: 10px 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.strike { text-decoration: line-through; }

.footnote-ref {
  border: none;
  margin: 0 0 0 4px;
  letter-spacing: 1px;
}

.footnote-back {
  border: none;
}
/* }}} */
/* About ---------------------------------------------------------------- {{{ */
.about-page {
  max-width: 600px;
  padding: 40px 20px 40px 60px;
}

.about-page h2 {
  font-size: 1.8rem;
  margin: 0 0 4rem;
}

.about-page h3 {
  border-bottom: 1px solid #ddd;
  font-size: 1.6rem;
  padding-bottom: .5rem;
}

.about-page p,
.about-page dt,
.about-page dd {
  font-size: 14px;
  line-height: 22px;
}

.about-page dt {
  display: inline;
  float: left;
  font-weight: bold;
  margin-right: 6px;
}

.about-page dt::after {
  content: ':';
}

.about-page dd {
  display: block;
  margin: 1.5em 0 2em;
}

.about-page .no,
.about-page .yes {
  list-style: none;
  margin-left: 0;
}

.about-page .yes li,
.about-page .no li {
  background-color: rgba(249,249,252,0.46);
  border-color: rgba(213,163,179,0.71);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 1px 1px 3px 0 hsl(0deg 0% 100% / 68%);
  color: #000;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 12px;
  margin-right: 9px;
  margin: 0 8px 12px 0;
}

.about-page .yes li {
  position: relative;
}

.about-page .yes a {
  border: none;
  display: block;
  padding: 4px 8px 4px 28px;
  transition: background-color 115ms;
}

.about-page .yes a:hover {
  background-color: #f4f9ff;
  color: #000;
}

.about-page .yes li img {
  left: 6px;
  margin-right: 4px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.about-page .no li {
  cursor: not-allowed;
  padding: 4px 8px;
}
/* }}} */
/* Header --------------------------------------------------------------- {{{ */
.site-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 1rem;
}

@media (min-width: 920px) {
  .site-title {
    margin: 1.6rem auto .4rem;
  }
}

.site-title a {
  border-bottom: none;
  color: #222;
}

.about {
  left: 0;
  padding: 20px 20px 0;
  top: 0;
}

.about .portrait {
  display: none;
}

@media (min-width: 920px) {
  .about {
    display: block;
    max-width: 300px;
    padding: 40px;
    position: fixed;
  }

  .about::after {
    background: #ddd;
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 60px;
    top: 40px;
    right: 0;
  }

  .about .portrait {
    border: none;
    display: block;
  }

  .about .portrait img {
    border: 1px solid #e3e3e3;
  }
}

.about p {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
  max-width: 300px;
}

nav::before {
  display: block;
  width: 80px;
  height: 1px;
  border-top: 1px solid #ddd;
  content: '';
}

nav ul {
  list-style: none;
  margin-left: 0;
}

nav ul li {
  margin: 0;
  position: relative;
}

nav li::before {
  color: rgba(71, 127, 165, 0.59);
  content: "→";
  font-size: 13.5px;
  line-height: 1.38em;
  margin-right: 6px;
  text-shadow: 0 0 10px rgb(21 180 241 / 29%);
}

nav li a,
nav li a:visited {
  border: none;
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

nav li a:hover {
  color: #ff7315;
}

.navigation {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  font-size: 15px;
  list-style: none;
  margin: 20px 0;
  position: relative;
}

.navigation li {
  display: inline-block;
}

@media (min-width: 920px) {
  .navigation {
    border: none;
    margin: 40px 0;
    padding: 10px 0;
  }

  .navigation li {
    display: block;
  }

  .navigation::before {
    background: #ddd;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
}

.navigation a {
  border: none;
}

/* }}} */
/* Article -------------------------------------------------------------- {{{ */
article {
  padding: 20px;
  position: relative;
}

@media (min-width: 920px) {
  article {
    padding: 40px 0 20px 60px;
  }
}

article h2 {
  font-size: 1.25em;
}

article p,
article li {
  max-width: 600px;
}

article h1 {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}

article figure {
  margin: 3em 0px;
  max-width: 600px;
}

article figure figcaption {
  color: #777;
  font-size: 14px;
  font-style: italic;
  margin: 10px 0;
}

ol {
  padding: 0 0 0 20px;
}

#toc + ol {
  list-style-type: upper-roman !important;
}

#toc + ol ol {
  list-style-type: lower-roman !important;
}
/* }}} */
/* Footer --------------------------------------------------------------- {{{ */
footer {
  border-top: 3px double #ddd;
  margin: 3em 20px 20px;
  max-width: 600px;
  padding: 1em 0 4em;
}

footer .license img {
  opacity: .8;
}

footer .license p {
  color: #58595a;
  font-size: .8em;
  line-height: 1.6em;
  margin-top: 0;
}

footer .license a {
  border: none
}
/* }}} */
.footnotes {
  max-width: 600px;
}
