header {
  margin: auto;
  padding: 20px;
  text-align: center;
}

@media (min-width: 640px) {
  header {
    max-width: 600px;
    padding: 20px 0 40px;
  }
}

.site-title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px auto 5px;
}

.site-title a {
  border-bottom: none;
  color: var(--main-fg-color);
}

.portrait {
  border: none;
  display: inline-block;
}

header .portrait img {
  border-width: 1px;
  border-style: solid;
  border-color: #555;
  border-radius: 50%;
  width: 80px;
}

@media (min-width: 920px) {
  header .portrait {
    border: none;
    display: inline-block;
  }
}

header .bio {
  color: var(--main-fg-secondary-color);
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
}
