$partial("templates/header.html")$

<div class="about-page">
  <h2>About</h2>
  <p>
    I'm the Chief Technology Officer and one of the co-founders of <a
      href="https://supercede.com/">Supercede</a>.
    I primarily work with Haskell/Yesod and Nix, and I have been featured on <a href="https://haskell.foundation/podcast/42/">The Haskell Interlude podcast</a>.
  </p>
  <p>
    For the past several years I have been slowly travelling the world while
    working, living in different places for a few months at a time. In January
    2022 I decided to live full-time in Ukraine. Good timing!
  </p>
  <p>
    I'm interested in building calm and sustainable companies with minimal
    process, a mostly flat hierarchy, and a lack of bureaucracy. This blog is
    loosely themed around all of the above.
  </p>
  <p>
    I occasionally write my thoughts on this website.
    If you like, you can read <a href="/posts">my writing</a>.
  </p>

  <h3>Yes</h3>
  <ul class="yes">
    <li>
      <a class="haskell" href="https://www.haskell.org/" target="_blank">
        Haskell
      </a>
    </li>
    <li>
      <a class="music" href="https://open.spotify.com/album/7acEciVtnuTzmwKptkjth5?si=Cow0L3KwS1SFEQBNtqb9MQ" target="_blank">
        Tool
      </a>
    </li>
    <li>
      <a class="shabo" href="https://youtu.be/bsL1Scutiyk" target="_blank">
        Шабо
      </a>
    </li>
    <li>
      <a class="office-space" href="https://www.youtube.com/watch?v=N9wsjroVlu8" target="_blank">
        Office Space
      </a>
    </li>
    <li>
      <a class="tim-traveller" href="https://youtu.be/xSjEGitwag8" target="_blank">
        The Tim Traveller
      </a>
    </li>
    <li>
      <a class="jason-fried" href="https://youtu.be/0UmUgaJwEr0" target="_blank">
        Jason Fried
      </a>
    </li>
    <li>
      <a class="sapiens" href="https://www.goodreads.com/book/show/23692271-sapiens" target="_blank">
        Sapiens
      </a>
    </li>
    <li>
      <a class="dave-chappelle" href="https://www.youtube.com/watch?v=wZXoErL2124" target="_blank">
        Dave Chappelle
      </a>
    </li>
    <li>
      <a class="the-midnight" href="https://open.spotify.com/album/1WKMbxcldmwnXaCIGgEpUW?si=S4NNdwifRQCbg_7qwryzlA" target="_blank">
        The Midnight
      </a>
    </li>
    <li>
      <a class="vim" href="https://youtu.be/aHm36-na4-4" target="_blank">
        Vim
      </a>
    </li>
    <li>
      <a class="max-verstappen" href="https://www.youtube.com/watch?v=B4pF4bMwYYI" target="_blank">
        Max Verstappen
      </a>
    </li>
    <li>
      <a class="sailboat" href="https://youtu.be/aWU8LaJWxsk" target="_blank">
        Sailing
      </a>
    </li>
    <li>
      <a class="rework" href="https://www.goodreads.com/book/show/6732019-rework" target="_blank">
        Rework
      </a>
    </li>
    <li>
      <a class="the-return" href="https://www.youtube.com/watch?v=3TfrQ-dIzd8" target="_blank">
        Возвращение
      </a>
    </li>
    <li>
      <a class="markus-kleveland" href="https://www.youtube.com/watch?v=6a_r33WiRwY" target="_blank">
        Markus Kleveland
      </a>
    </li>
    <li>
      <a class="sean-lock" href="https://www.youtube.com/watch?v=CkYJlc9sJsQ" target="_blank">
        Sean Lock
      </a>
    </li>
    <li>
      <a class="roger-federer" href="https://www.youtube.com/watch?v=J8voIyM81zY" target="_blank">
        Roger Federer
      </a>
    </li>
    <li>
      <a class="freakonomics" href="https://freakonomics.com/books/" target="_blank">
        Freakonomics
      </a>
    </li>
    <li>
      <a class="porsche" href="https://youtu.be/wgqiK1UOikA" target="_blank">
        Porsche
      </a>
    </li>
    <li>
      <a class="redman" href="https://www.youtube.com/watch?v=WvH3vU1H5mc" target="_blank">
        Redman
      </a>
    </li>
    <li>
      <a class="laphroaig" href="https://www.youtube.com/watch?v=QiQQc_Ya7CM" target="_blank">
        Laphroaig
      </a>
    </li>
    <li>
      <a class="woke-racism" href="https://www.goodreads.com/en/book/show/58133534" target="_blank">
        Woke Racism
      </a>
    </li>
  </ul>

  <h3>No</h3>
  <ul class="no">
    <li>Astrology</li>
    <li>Tribalism</li>
    <li>Agile methodology</li>
    <li>Alternative medicine</li>
    <li>JavaScript</li>
    <li>Vladimir Putin</li>
    <li>Noise pollution</li>
    <li>Airports</li>
    <li>Communism</li>
    <li>Celebrity culture</li>
    <li>Reality television</li>
    <li>Microservices</li>
  </ul>

  <h3>Pictures</h3>
  <img alt="My Ducati SuperSport." class="about-img" src="/static/img/ducati.jpg">
  <img alt="A dog in Kas, Turkey." class="about-img" src="/static/img/kas.jpg">
</div>

$partial("templates/footer.html")$
