<footer>
  <p class="colophon">
  Written by <a href="/about">Jezen Thomas</a>, a freelance software developer
  spending most of his time writing software with Ruby and JavaScript. Follow him
  <a href="https://twitter.com/jezenthomas">on Twitter</a> or write him <a
     href="mailto:jezen@jezenthomas.com">an email</a>.
  </p>
  <div class="rss">
    <h3>Be notified of new posts</h3>
    <p><a href="http://feeds.feedburner.com/jezenthomas">Subscribe in a reader</a></p>
    <p><a href="https://feedburner.google.com/fb/a/mailverify?uri=jezenthomas&amp;loc=en_US">Subscribe by email</a></p>
  </div>
</footer>
