<div class="about">

  <a class="portrait" href="/">
    <img alt="Jezen Thomas" src="/static/img/prestiz@2x.jpg">
  </a>

  <h1 class="site-title">
    <a href="/">Jezen Thomas</a>
  </h1>

  <p class="bio">
    CTO & Co-Founder at <a href="https://supercede.com">Supercede</a>.
    Haskell programmer.
    Writing about business and software engineering.
    Working from anywhere.
  </p>

  <nav>
    <ul>
      <li>
        <a href="/posts">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="https://buymeacoffee.com/jezen">Buy me a coffee</a>
      </li>
    </ul>
  </nav>

  <footer>&copy; 2022 Jezen Thomas</footer>

</div>
