<div class="about">
  <a href="/"><img alt="Jezen Thomas" src="/static/img/jgt.jpg"></a>
  <h1 class="site-title"><a href="/">Jezen Thomas</a></h1>
  <p>
  I'm a programmer and entrepreneur.
  Occasionally I <a href="/posts">write about technology</a>, and
  <a href="/#speaking">speak at conferences</a>.
  <ul class="navigation">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/meet">Contact</a></li>
    <li><a href="/posts">Blog</a></li>
    <li><a href="/twitter">Twitter</a></li>
  </ul>
</div>
