<div class="about">

  <a class="portrait" href="/">
    <img alt="Jezen Thomas" src="/static/img/jgt.jpg">
  </a>

  <h1 class="site-title">
    <a href="/">Jezen Thomas</a>
  </h1>

  <p class="bio">
    CTO &amp; Co-Founder at <a href="https://supercede.com">Supercede</a>.
    Haskell programmer.
    Writing about business and software engineering.
    Working from anywhere.
  </p>

  <nav>
    <ul>
      <li>
        <a $if(page-home)$aria-current="true"$endif$ href="/">Home</a>
      </li>
      <li>
        <a $if(page-blog)$aria-current="true"$endif$ href="/posts">Blog</a>
      </li>
      <li>
        <a $if(page-about)$aria-current="true"$endif$ href="/about">About</a>
      </li>
      <li id="bmac">
        <a href="https://buymeacoffee.com/jezen">Buy me a coffee</a>
      </li>
    </ul>
  </nav>

  <footer>&copy; 2024 Jezen Thomas</footer>

</div>
