$partial("templates/header.html")$

<div class="container">
  <h3>Schedule a meeting with me</h3>
  <p>
  If you need to arrange a meeting with me, please book a time in the calendar
  below. The link to the video chat channel will be shared with you in your
  confirmation email. If you can't make the meeting, please be courteous and
  reschedule/cancel.
  </p>
</div>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/jezen/60min?hide_event_type_details=1" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

$partial("templates/footer.html")$
