<h1>$title$</h1>

<div class="post-list">
  <ul class="posts">
    $for(posts)$
    <li>
      <a href="$url$">
        <div class="row">
          <div class="six columns">
            <p>$title$</p>
          </div>
          <div class="six columns">
            <p class="post-date">$date$</p>
          </div>
        </div>
      </a>
      <!--p class="post-tags">$tags$</p-->
      <!--div class="post-item">
        $if(excerpt)$
        <p>$excerpt$</p>
        $endif$
      </div-->
    </li>
    $endfor$
  </ul>
</div>
