<div class="notice">
  <div class="haskell-logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="642.52" height="453.543" viewBox="0 0 481.8897 340.1574"><defs><clipPath id="a"><path d="M0 340.156h481.89V0H0v340.156zm0 0"/></clipPath></defs><g clip-path="url(#a)"><path d="M0 340.156l113.387-170.078L0 0h85.04l113.386 170.078L85.04 340.156H0zm0 0" /><path d="M113.387 340.156l113.386-170.078L113.387 0h85.04l226.768 340.156h-85.04L269.294 233.86l-70.867 106.296h-85.04zm0 0"/><path d="M387.402 240.945l-37.793-56.69 132.28-.005v56.695h-94.488zm0 0M330.71 155.906l-37.796-56.69 188.977-.005v56.696H330.71zm0 0"/></g></svg>
  </div>
  <p>Heads up!</p>
  <p>I'm writing a book! It's called <em>Haskell, But Quickly</em>, and it's a guide to building and deploying web applications with Haskell and Yesod.</p>
  <p>Want to know when it's released? <a href="https://haskellbutquickly.com">Click here</a>.</p>
</div>
<script type="text/javascript">
  var svg = new Walkway({
    selector: '.haskell-logo svg',
    duration: '4000'
  });
  svg.draw();
</script>

<div class="article-wrapper">
  <article>
    <h1>$title$</h1>
    <div class="post">
      <div class="info">
        $partial("templates/sidebar.html")$
      </div>
      <div class="content">
        <p class="post-date">Written on <span>$date$</span</p>
        <!--p class="post-tags">$tags$</p-->
        $body$
      </div>
    </div>
    $partial("templates/discussion.html")$
  </article>
  $partial("templates/footer.html")$
</div>
