<div class="container">
  <article>
    <h1 class="post-title">$title$</h1>
    <div class="post-meta">
      <p class="post-date">
        $utcMonth$ $utcDay$<sup>$utcOrdinal$</sup>, $utcYear$
        $if(location)$
        | $location$
        $endif$
      </p>
    </div>
    $body$
    <br>
    $if(likes)$
    <h4>likes</h4>
    <div class="body likes">
        $for(likes)$
             $like$
        $endfor$
    </div>
    $endif$
    $if(replies)$
    <h4>replies</h4>
    <div class="body replies">
        $for(replies)$
            $repl$
        $endfor$
    </div>
    $endif$
    $if(reposts)$
    <h4>reposts</h4>
    <div class="body reposts">
        $for(reposts)$
            $repo$
        $endfor$
    </div>
    $endif$
  </article>

</div>
