$partial("templates/header.html")$

<div class="projects">
  <h3>Projects</h3>

  <div id="riskbook" class="project">
    <a href="https://riskbookltd.com/">
      <img alt="Riskbook" src="/static/img/riskbook.svg">
    </a>
    <p>
    Cofounder &amp; CTO @ <a href="https://riskbook.com">Riskbook</a>, a
    trading platform for the reinsurance industry. We're revolutionising the
    way reinsurance underwriters and brokers trade risk programmes. I run this
    company together with two industry experts, and an excellent team of
    programmers.
    </p>
  </div>

  <div id="newbusinessmonitor" class="project">
    <a href="https://newbusinessmonitor.co.uk/">
      <img alt="NewBusinessMonitor" src="/static/img/nbm.png">
    </a>
    <p>
    I am the founder of a SaaS business called
    <a href="https://newbusinessmonitor.co.uk/">NewBusinessMonitor</a>.
    It is a tool primarily for B2B marketing in the UK. If you have a business
    and you want to sell your goods and/or services to any of the 12,000 new
    companies registered in the UK every week, you should sign up.
    </p>
  </div>

  <div id="comparestack" class="project">
    <a href="https://comparestack.com/">
      <img alt="Comparestack" src="/static/img/comparestack.png">
    </a>
    <p>
    <a href="https://comparestack.com/">Comparestack</a>
    is a price comparison technology platform I co-founded together with a
    business partner. Our platform and provider partnerships make it easy for
    clients to instantly unlock new revenue streams.
    </p>
  </div>
</div>
