<div class="sidebar">
  <a href="/"><img src="/static/img/self2.jpg"></a>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/speaking/">Talks</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>

  <div class="sidebar-segment subscribe">
    <h2>Subscribe</h2>
    <p>
      <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
      <a href="http://feeds.feedburner.com/jezenthomas">Subscribe in a reader</a>
      <br>
      <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
      <a href="https://feedburner.google.com/fb/a/mailverify?uri=jezenthomas&amp;loc=en_US">Subscribe by email</a>
    </p>
  </div>

  <!--div class="sidebar-segment">
    <h2>Tags</h2>
    <div class="tag-cloud">
      $allTags$
    </div>
  </div-->
</div>
