<div class="twitter">
  <h2>Twitter</h2>

  <blockquote>
    <p>Hi Jezen,</p>
    <p>
    I was going through my bookmarks and noticed that my bookmarks to your
    Twitter posts were dead, and looking on your site I don't see it listed so I
    assume you deleted it?
    </p>
    <p>
    May I ask what your motivation for deleting it was? I don't have any vested
    interest other than having some old bookmarks to your content.
    </p>
    <p>Thanks,<br>Daniel</p>
  </blockquote>

  <p>Hi Daniel,</p>

  <p>
  I did indeed close my Twitter account a few months ago. I had kept it 
  mostly because sometimes people wrote things that I could learn from, 
  and also because I had an audience. However, the bad outweighed the 
  good, and there came a point where I didn't have the patience for it 
  anymore.
  </p>

  <p>
  For whatever reason, Twitter is an incredible filter bubble. I believe 
  this is a direct consequence of their algorithmic feed. There may also 
  be a community aspect to it — Tumblr is known to attract a certain type 
  of person, the same is true of Pinterest, and I don't think Twitter is 
  any different. Although Twitter is open to everyone, the Twitter 
  demographic is not an accurate reflection of the real world's 
  demographic. The feed that Twitter's algorithm presented me with was 
  incredibly political, regardless of how well-fed I kept my keyword mute 
  list.
  </p>

  <p>
  I don't regret having had a Twitter account — it did give me an audience 
  of some awfully smart people, and with that came some materially 
  beneficial connections with people in the real world. I do regret not 
  persisting some of the more interesting talking points I or other people 
  I engaged with had on my own website. Since closing my account, I've 
  found a little bit more time to focus on things I find important. It's 
  one fewer distraction at least.
  </p>

  <p>Happy Christmas :)</p>
</div>
